/* Custom styling for Manureshed dashboard */

.btn-primary {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-primary:hover {
    background-color: #34495e;
    border-color: #34495e;
}

.content-wrapper {
    background-color: #ecf0f1;
}

.box {
    border-top: 3px solid #3c8dbc;
}
